<header class="relative" id="header">
  <div class="flex" id="top_menu">
    <div class="flex" id="home">
      <span><img src="#" alt="logo inicio"></span>
      <a href="#">Inicio</a>
    </div>
    <div class="flex" id="loggered">
      <p>Logueado como:</p>
      <a class="user active" href="#">Nombre de usuario</a>
    </div>
    <div class="flex acount_information" id="account">
      <ul class="flex">
        <li><a href="#">Perfil</a></li>
        <li><a href="#">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
  <div class="flex">
    <span><img src="#" alt="logo de la empresa"></span>
    <h1>
      <span>Sistema de gestion de proyectos</span>
    </h1>
  </div>
</header>