{% comment %} {% load static %} {% endcomment %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block 'title' %}{% endblock %} </title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% comment %} {% block 'styles' %}{% endblock %} {% endcomment %}
  {% tailwind_css %}
</head>
<body>
  {% include './partials/topMenu.html' %}

  {% include './partials/header.html' %}

  <main>
    {% include './partials/leftMenu.html' %}
    
    {% block 'content' %}
      
    {% endblock %}
  </main>

  {% include './partials/footer.html' %}

  {% block 'scripts' %}{% endblock %}    
</body>
</html>